@font-face {
	font-family: benton-sans;
	src: url("../Fonts/bentonsansextracompbold/BentonSans ExtraComp Bold.otf") format("opentype");
}

nav {
	font-family: benton-sans;
	display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 4em;
  margin-top: 3em;
	margin-bottom: 1em;
}

.header {
  visibility: visible;
  opacity: 1;
  transition: opacity .90s ease;
}

.header-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease, opacity .90s ease;
}

#ulStyle {
	list-style-type: none;
	display: block;
  padding: 0;
  margin-right: 35em;
	margin-top: 3em;
  margin-bottom: 0;
}

.liStyle {
	vertical-align: middle;
	display: inline-block;
	width: 4em;
  	/* height: 5em; */
 	flex-basis: content;
	color: #ffc900;
  font-size: 3em;
}

.logo {
  display: inline-block;
  vertical-align: middle;
	content: url('../images/MFO.png');
	border-radius: 50%;
  height: 3em;
  width: 3em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#logo-start {
  transform: rotate(0deg);
  transition: transform .60s ease;
}

#logo-rotate {
  transform: rotate(90deg);
  transition: transform .60s ease;
}

.logo:hover, .logo:focus, .logo:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);

}

.gifStyle {
  content: url('https://media.giphy.com/media/l4FGmptEvk6S7273a/giphy.gif');
  vertical-align: center;
  width: 3.8em;
  height: 3.8em;
}

@media (min-width: 1025px) and (max-width: 1366px){
  .logo {
    height: 2.4em;
    width: 2.4em;
  }

  .marginFix{
    font-size: 2.6em;
  }

  #ulStyle {
    margin-left: 2em;
  }
  .gifStyle {
    width: 3.5em;
    height: 3.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .logo {
    height: 2.4em;
    width: 2.4em;
  }

  .marginFix{
    font-size: 2.2em;
  }

  #ulStyle {
    margin-left: 2em;
  }
  .gifStyle {
    width: 3em;
    height: 3em;
  }
}

@media (min-width: 641px) and (max-width: 768px){
  .logo {
    height: 2.1em;
    width: 2.1em;
  }

  .marginFix{
    font-size: 2.3em;
  }

  #ulStyle {
    margin-left: 3em;
  }

  .gifStyle {
    width: 2.3em;
    height: 2.3em;
  }
}

@media (min-width: 481px) and (max-width: 640px){
  .logo {
    height: 1.9em;
    width: 1.9em;
  }

  .marginFix{
    font-size: 1.8em;
  }

  #ulStyle {
    margin-left: 3em;
  }

  .gifStyle {
    width: 2em;
    height: 2em;
  }
}

@media (min-width: 401px) and (max-width: 480px){
  .logo {
    height: 1.7em;
    width: 1.7em;
  }

  .marginFix{
    font-size: 1.6em;
  }

  #ulStyle {
    margin-left: 2em;
  }

  .gifStyle {
    width: 1.7em;
    height: 1.7em;
  }
}

@media (min-width: 320px) and (max-width: 400px){
  .logo {
    height: 1.4em;
    width: 1.4em;
  }

  .marginFix{
    font-size: 1.3em;
  }

  #ulStyle {
    margin-left: 2em;
  }

  .gifStyle {
    width: 1.5em;
    height: 1.5em;
  }
}

.hover:hover {
  transform: scale(1.4);
  transition: transform .25s ease;
}


.linkHeadStyle {
  text-decoration: none;
  color: white;
}
