@font-face {
	font-family: benton-sans;
	src: url("../Fonts/bentonsansextracompblack/BentonSans ExtraComp Black.otf") format("opentype");
}


.heroBigContainer {
	margin-top: 1em;
	font-family: benton-sans;
	text-align: center;
	/* margin-top: 5em; */
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
}

.mfoBackground {
   position: fixed;
   z-index: -3;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url('../images/avengers.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.buttonStyle {
	display: block;
	margin: 0;
	margin-top: 1em;
}

.buttonSize {
	font-size: 1em;
	background-color: #BB1E08;
	color: gold;
}

.button2Size {
	font-size: 2em;
	background-color: #0859BB;
	color: gold;
}

.textStyle {
	color: #BB1E08;
	font-size: 3em;
	width: 100%;
}


.heroContainer {
	margin: 0;
	width: 50%;
}

.imgStyle {
	margin: 1em 0;
  	width: 28em;
  	height: 28em;
 	flex-basis: content;
	border-width: 0.2em;
	border-style: double;
	border-radius: 10px;
	border-color: #ffc900;
}

.imgStyle:hover {
	transform: scale(1.15);
	transition: transform .25s ease;
	background-color:#000;
    opacity:0.6;
}

.checkMark:hover {
    content: url('../images/checkmark.png')
}

@media (min-width: 1025px) and (max-width: 1366px){
	.imgStyle {
	  	width: 25em;
  		height: 25em;
	}
}

@media (min-width: 769px) and (max-width: 1024px){
	.imgStyle {
	  	width: 23em;
  		height: 23em;
	}
}

@media (min-width: 641px) and (max-width: 768px){
	.imgStyle {
	  	width: 15em;
  		height: 15em;
	}

	.textStyle {
		font-size: 1.7em;
	}
}

@media (min-width: 481px) and (max-width: 640px){
	.imgStyle {
	  	width: 11em;
  		height: 11em;
	}

	.textStyle {
		font-size: 1.3em;
	}
}

@media (min-width: 401px) and (max-width: 480px){
	.imgStyle {
	  	width:11em;
  		height:11em;
	}

	.textStyle {
		font-size: 0.9em;
	}

	.buttonSize {
		font-size: 0.8em;
	}
}

@media (min-width: 320px) and (max-width: 400px){
	.imgStyle {
		/* margin: 1em 0; */
	  	width: 7em;
  		height: 7em;
	}

	.textStyle {
		font-size: 0.8em;
	}

	.buttonSize {
		font-size: 0.7em;
	}
}



